extends layout

block content
    .jumbotron
        .container
            h1 How May I help You?
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue aliquet ullamcorper.Cras sed egestas turpis. In lacinia libero velit, vitae bibendum velit tempor a. Pellentesque 
            a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
    .container
        .row
            .col-md-4
                h2 About us
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                a.btn.btn-default(href='#') View Details &raquo;
            .col-md-4
                h2 Services
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                a.btn.btn-default(href='#') View Details &raquo;
            .col-md-4
                h2 Get In Touch
                p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                a.btn.btn-default(href='#') View Details &raquo;
